    <div  class="container">

        <div class="row">
        <div class="col-sm-10 col-sm-offset-1"  ng-repeat="project in data ">
          <!-- using a bootstrap well to style -->
            <div class="well well-sm">
                <div class="row">
                    <div class="col-md-6">
                      <!-- ng-src instead of src to allow correct functionality with angular -->
                        <img ng-src="{{project.image}}"
                            class="img-rounded img-responsive well-image">
                    </div>
                    <div class="col-md-6">
                        <h1>{{project.title}}</h1>
                        <p><strong>Technologies: </strong>{{project.tech}}</p>
                        <p><strong>Description: </strong>{{project.description}}</p>
                        <!-- ng-click is an angular directive to allow click events within angular -->
                    <!-- data-toggle and data-target are bootstrap attributes to trigger the popup modal -->
                        <button class="btn btn-primary pull-right"
                            data-toggle="modal"
                            data-target="#proj-info"
                            ng-click="changeActiveProject(project)">Learn More</button>
                    </div>
                </div><!-- row -->
            </div><!-- well -->
        </div><!-- col-xs-6 -->
    </div>
